<h1>Coffee: <%= @coffee.title %></h1>
<br>
<p>Brand: <%= @coffee.brand %></p>
<br>
<p>Roast Level: <%= @coffee.roast_level %></p>
<br>
<p>Description: <%= @coffee.description %></p>
<br>
<p>Caffeine Content: <%= @coffee.caffeine_content %></p>
