<h1>Login In For Some Delicious Coffee Reviews</h1>
<%= form_with model: @user, url: login_path do |form| %>

  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Login"%>

<% end %>
