<h1>Sign Up To Start Reviewing Delicious Coffee</h1>

<%= @user.errors.full_messages %>

<%= form_with model: @user do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name, required:true %>
  <br>
  <br>
  <%= form.label :email %>
  <%= form.email_field :email, required:true%>
  <br>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password, required:true%>
  <br>
  <br>
  <%= form.label :profile_img %>
  <%= form.text_field :profile_img, required:true %>
  <br>
  <br>
  <%= form.submit "Submit" %>
<% end %>
