<h1>Sign Up To Start Reviewing Delicious Coffee</h1>

<%= render partial: 'layouts/errors', locals: {object: @user}  %>

<%= form_with model: @user, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
    <br>
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
    <br>
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
    <br>
    <%= form.label :profile_img %>
    <%= form.text_field :profile_img, class: "form-control" %>
    <br>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
