<h1><%= @user.name %>'s Profile Page</h1>

  <% if @user.profile_img %>
    <p><%= image_tag @user.profile_img, class: "back-img" %></p>
  <% end %>

<% @review.each do |r| %>
  <p>Review Title:<%= link_to r.title, review_path(r.id) %></p>
  <p>Rating: <%= r.rating %></p>
  <p><%= r.description %></p>
  <p>Coffee Reviewed: <%= link_to r.coffee.title, user_coffee_path(r.id) %></p>
  <p>Posted At: <%= r.updated_at.localtime.strftime("%I:%M %p on %m/%d/%Y") %></p>
<% end %>
