<h1><%= @user.name %>'s Profile Page</h1>

<p><%= image_tag @user.profile_img, class: "usr-img" %></p>

<%= @reviews.each do |r| %>
  <%= r.coffee.title %>
  <%= link_to r.title, review_path(r.id) %>
  <p>Rating: <%= r.rating %></p>
  <p><%= r.description %></p>
<% end %>
