<h1>All Coffee Reviews</h1>

<p><%= link_to 'Write A New Review', new_review_path %></p>
<br>
<% @reviews.each do |review| %>
  <p><b><%= link_to review.title, review_path(review) %></b></p>
  <p> Coffee Reviewed: <%= review.coffee.title %></p>
  <p>Rated: <%= review.rating %></p>
  <p>Review: <%= review.description %></p>
<% end %>
