<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Brew-Ti-Ful Reviews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Coffees", coffees_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Reviews", reviews_path, class: "nav-link" %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Add A Coffee", new_coffee_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add A Review", new_review_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
