<!DOCTYPE html>
<html>
  <head>
    <title>Brew-Ti-Ful Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <% if current_user %>
      <p>Welcome <%= current_user.name %></p
      <%= button_to "Profile", user_path(current_user), method: :get %>
      <%= button_to "Logout", session_path(1), method: :delete %>
    <% end %>




    <%= yield %>
  </body>
</html>
